
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model SimplBlog.ViewModels.PagedList<Post>
@if (Model != null)
{
    <div class="content-grid">

        @foreach (var item in Model.Data)
        {
            <div class="content-grid-info">
                <img src="@item.ImagePath" alt="" style="width:250px; height:auto;" />
                <div class="post-info">
                    <h4><a href="@item.Url=@item.PostId">@item.Title</a> @item.PostedOn.ToShortDateString() / 27 Comments</h4>
                    <p>@item.ShortDescription</p>
                    <a href="@item.Url=@item.PostId"><span></span>READ MORE</a>
                </div>
            </div>
        }
    </div>
    <div>
        @if (Model.HasPaging)
        {
            <div class="m-pagination">
                <ul>
                    @if (!string.IsNullOrEmpty(Model.PrevPageLink))
                    {
                        <li><a class="prev" href="@Model.PrevPageLink">&laquo; Previous</a></li>
                    }
                    @if (!string.IsNullOrEmpty(Model.NextPageLink))
                    {
                        <li><a class="next" href="@Model.NextPageLink">Next &raquo;</a></li>
                    }
                </ul>
            </div>
        }
    </div>
}



